<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
        <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
          
        </div>
      </li>

      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 5</h1>
    <h1>Lesson 3 <br><br>&emsp;&emsp;Do Loop Statement</h1>
    <p class="lead"></p>
      <div class="panel-body">VB.NET supports three  types of <b>Do Loop</b> statements.
        The first one is a type where the condition for looping is not stated, in this case this type of Do Loop will loop indefinitely.<br><br>
        The syntax is:<br><br>
        &emsp;&emsp;&emsp;Do<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;<<b>statements></b><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;[Exit Do]<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;<<b>statements></b><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;[Continue Do]<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;<<b>statements></b><br>
        &emsp;&emsp;&emsp;Loop<br><br>
        This kind of Do Loop executes the code  it contains until the program somehow ends the loop. The following loop example below processes work orders. It calls the <b>WorkOrderAvailable</b> function to see if a work order is available. If an order is available, the code calls.<br>
        &emsp;&emsp;&emsp;1&emsp;Do<br>
        &emsp;&emsp;&emsp;2&emsp;&emsp;&emsp;'See if a work order is available.<br>
        &emsp;&emsp;&emsp;3&emsp;&emsp;&emsp;If WorkOrderAvailable() Then<br>
        &emsp;&emsp;&emsp;4&emsp;&emsp;&emsp;'Process the next work order.<br>
        &emsp;&emsp;&emsp;5&emsp;&emsp;&emsp;ProcessWorkOrder()<br>
        &emsp;&emsp;&emsp;6&emsp;End If<br>
        &emsp;&emsp;&emsp;7&emsp;Loop<br><br>
        <b>ProcessWorkOrder</b> to process it. The code then repeats the loop to look for another work order.<br>
        This example keeps checking for work orders forever. Most programs include some method for the loop to end so that the program can eventually stop. For example, the loop might use the Exit Do statement described shortly  to end the loop if the user clicks a Stop button.<br>
        The second and third forms of Do Loop statements both include a test to determine whether they should continue looping. The difference between the two versions is where they place the test.<br>
        &emsp;Syntax 1:<br>
  
        &emsp;&emsp;Do {While/Until} <condition>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Do<br>
        &emsp;&emsp;&emsp;<<b>statements</b>>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<<b>statements</b>><br>
        &emsp;&emsp;&emsp;[Exit Do]&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;[Exit Do]<br>
        &emsp;&emsp;&emsp;<<b>statements</b>>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<<b>statements</b>><br>
        &emsp;&emsp;&emsp;[Continue Do]&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;[Continue Do]<br>
        &emsp;&emsp;&emsp;<<b>statements</b>>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<<b>statements</b><br>
        &emsp;&emsp;Loop&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Loop {While/Until}<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<<b>condition</b>><br>
        The first syntax places its test at the beginning, so the test is evaluated before the code is executed.<br>
        The second syntax places its test at the end. In this version, the statements inside the loop are executed before the loop performs its test. That means that the code is always executed at least once.<br>
        If the code uses the <b>While</b> keyword, the loop executes as long as the condition is <b>True</b>. If the code uses the <b>Until</b> keyword, the loop executes as long as the condition is False.<br>
        The <b>Exit Do</b> statement allows the program to leave the nearest enclosing Do loop before it would normally finish. The <b>Continue Do</b> statement makes the loop jump back to its Do statement and start the loop over again. This is particularly useful if the program doesn’t need to execute the rest of the steps within the loop and wants to quickly start the next iteration.<br>
        Let us take a look at this example:<br>
        &emsp;&emsp;&emsp;1&emsp; Sub Main()<br>
        &emsp;&emsp;&emsp;2&emsp;&emsp;Dim myNumber As Integer = 0<br>
        &emsp;&emsp;&emsp;3&emsp;&emsp;Do<br>
        &emsp;&emsp;&emsp;4&emsp;&emsp;&emsp;myNumber += 1<br>
        &emsp;&emsp;&emsp;5&emsp;&emsp;&emsp;Console.WriteLine(myNumber)<br>
        &emsp;&emsp;&emsp;6&emsp;&emsp;Loop While myNumber < 10<br>
        &emsp;&emsp;&emsp;7<br>
        &emsp;&emsp;&emsp;8&emsp;&emsp;Do<br>
        &emsp;&emsp;&emsp;9&emsp;&emsp;&emsp;myNumber += 1<br>
        &emsp;&emsp;&emsp;10&emsp;&emsp;&emsp;Console.WriteLine(myNumber)<br>
        &emsp;&emsp;&emsp;11&emsp;&emsp;Loop Until myNumber = 10<br>
        &emsp;&emsp;&emsp;12&emsp;&emsp;Console.ReadLine()<br>
        &emsp;&emsp;&emsp;13&emsp;End Sub<br><br>
        Code Explanation:<br>
        •&emsp;Line 2, we make an integer and call it myNumber and set its default value to 0.<br>
        •&emsp;Line 3, we got a Do Loop While Statement which loops while myNumber is less than 10<br>
        •&emsp;Line 4, we read the users value and store it in myNumber<br>
        •&emsp;Line 5, the program displays the value of myNumber<br>
        •&emsp;Line 8, we got a Do Loop Until Statement which loops until myNumber is equal to 10<br>
        •&emsp;Line 9, we read the users value and store it in myNumber<br>
        •&emsp;Line10, we got a Dop Loop Until Statement which loops until myNumber is equal to 10<br><br>
        The difference between Do While and Do Until is that in Do While the condition must be True while in Do Until the condition must be false to go through the loop.<br><br>
        Another example is:<br>
        &emsp;&emsp;&emsp;1&emsp;Sub Main()<br>
        &emsp;&emsp;&emsp;2&emsp;&emsp;Dim myNumber As Integer = 0<br>
        &emsp;&emsp;&emsp;3&emsp;&emsp;Do Until myNumber = 5<br>
        &emsp;&emsp;&emsp;4&emsp;&emsp;&emsp;&emsp;Console.WriteLine("Pick a number between 1 and 6")<br>
        &emsp;&emsp;&emsp;5&emsp;&emsp;&emsp;&emsp;myNumber = Console.ReadLine()<br>
        &emsp;&emsp;&emsp;6&emsp;&emsp;&emsp;&emsp;If myNumber = 5 Then<br>
        &emsp;&emsp;&emsp;7&emsp;&emsp;&emsp;&emsp;&emsp;Console.WriteLine("Yes 5, it is!")<br>
        &emsp;&emsp;&emsp;8&emsp;&emsp;&emsp;&emsp;Else<br>
        &emsp;&emsp;&emsp;9&emsp;&emsp;&emsp;&emsp;&emsp;Console.WriteLine("Oops that's not the lucky number!")<br>
        &emsp;&emsp;&emsp;10&emsp;&emsp;&emsp;&emsp;End If<br>
        &emsp;&emsp;&emsp;11&emsp;&emsp;&emsp;Loop<br>
        &emsp;&emsp;&emsp;12&emsp;&emsp;&emsp;Console.ReadLine()<br>
        &emsp;&emsp;&emsp;13&emsp;End Sub<br><br>
        Code Explanation:<br>
        •&emsp;Line 2, we make an integer and call it myNumber and set its default value to 0.<br>
        •&emsp;Line 3, we got a Do Until Statement which loops until myNumber = 5<br>
        •&emsp;Line 4, we ask the user to pick a number between 1 and 6<br>
        •&emsp;Line 5, we read the users value and store it in myNumber<br>
        •&emsp;Line 6, if the number is not 5 then they get the text “Oops that's not the lucky number!”<br><br>
        If they don’t pick 5 the question will be asked again. (It will keep looping until myNumber is 5, it’s an infinite loop) If they pick 5 then they will get the message “Yes 5, it is!”,<br>
        The program will close after this.<br>













      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson5.2" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson5.4" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

