<style>
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
      font-family: 'Poppins', sans-serif;
      background: #fafafa;
    }
    
    p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
    }
    
    a,
    a:hover,
    a:focus {
      text-decoration: none;
      transition: all 0.3s;
      color: white;
    }
    
    .navbar {
      padding: 15px 10px;
      background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
      border: none;
      border-radius: 0;
      margin-bottom: 40px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
    }
    
    .line {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #ddd;
      margin: 40px 0;
    }
    .btn1{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    } 
    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
    
    .wrapper {
      display: flex;
      align-items: stretch;
    }
    
    #sidebar {
      min-width: 250px;
      max-width: 250px;
      background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
      color: #fff;
      transition: all 0.3s;
    }
    
    #sidebar a,
    #sidebar a:hover,
    #sidebar a:focus {
      color: inherit;
    }
    
    #sidebar.active {
      margin-left: -250px;
    }
    
    #sidebar .sidebar-header {
      padding: 20px;
      background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
    }
    
    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }
    
    #sidebar ul p {
      color: #fff;
      padding: 10px;
    }
    
    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
    }
    
    #sidebar ul li a:hover {
      color: #7386D5;
      background: #fff;
    }
    
    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
      color: #fff;
      background: #6d7fcc;
    }
    
    a[data-toggle="collapse"] {
      position: relative;
    }
    
    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
      content: '\e259';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
    }
    
    a[aria-expanded="true"]::before {
      content: '\e260';
    }
    
    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
    
    #content {
      padding: 20px;
      min-height: 100vh;
      transition: all 0.3s;
    }
    
    #content p a {
      color: white;
    }
  img{
      width: 70%;
      height: 70%;
      margin-left: 8%;
    }
    h3{
      color: white;
      text-align: center;
      margin-top: 10%;
      margin-bottom: 5%;
      margin-right: 5%;
    }
    .dropdown-container {
          display: none;
          padding-left: 25px;
    }
    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
    
    @media (max-width: 768px) {
      #sidebar {
        margin-left: -250px;
      }
      #sidebar.active {
        margin-left: 0;
      }
      #sidebarCollapse span {
        display: none;
      }
    }



    h4 {
  color: #6d6d6d;
}

#barra {
  width: 100%;
  height: 10px;
  background-color: #ddd;
}

#bar {
  height: 10px;
  background-color: #4CAF50;
}

#start {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#next {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#back {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#startagain {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#div1 {
  height: auto;
}

#div2 {
  height: auto;
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
  $("#sidebarCollapse").on("click", function() {
    $("#sidebar").toggleClass("active");
    $(this).toggleClass("active");
  });
  });
  </script>
  
  <script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }
  </script>
  
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
       <img src="images/logo.png">
        <h3>E-Learning</h3>
      </div>
  
      <ul class="list-unstyled components">
          <p></p>
           <li>
            <a href="#/Chapter1" class="dropdown-btn">Chapter 1
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#/Lesson1.1" class="active">Lesson 1</a>
              <a href="#/Lesson1.2">Lesson 2</a>
              <a href="#/Lesson1.3">Lesson 3</a>
              <a href="#/Lesson1.4">Lesson 4</a>
              <a href="#/Lesson1.5">Lesson 5</a>
              <a href="#/Lesson1.6">Lesson 6</a>
              <a href="#/Lesson1.7">Lesson 7</a>
            </div>
          </li>
          <li>
            <a href="#/Chapter2" class="dropdown-btn">Chapter 2
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
           <li>
            <a href="#/Chapter3" class="dropdown-btn">Chapter 3
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
          <li>
            <a href="#/Chapter4" class="dropdown-btn">Chapter 4
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
           <li>
            <a href="#/Chapter5" class="dropdown-btn">Chapter 5
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
           <li>
            <a href="#/Chapter6" class="dropdown-btn">Chapter 6
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
           <li>
            <a href="#/Chapter7" class="dropdown-btn">Chapter 7
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
           <li>
           <a href="#/Chapter8" class="dropdown-btn">Chapter 8
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
           <li>
            <a href="#/Chapter9" class="dropdown-btn">Chapter 9
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li>
           <li>
            <a href="#/LChapter10" class="dropdown-btn">Chapter 10
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;<i class="fa fa-caret-down"></i></a>
            <div class="dropdown-container">
              <a href="#">Lesson 1</a>
              <a href="#">Lesson 2</a>
              <a href="#">Lesson 3</a>
            </div>
          </li> 
          <li>
            <a href="#" align="center">Logout</a>
          </li>
        </ul>
  
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
  
      <nav class="navbar navbar-default">
        <div class="container-fluid">
  
          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                  <i class="glyphicon glyphicon-align-left"></i>
                                  <span></span>
                              </button>
          </div>
  
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                   <a href="#">Admin Name</a>&nbsp;<button class="btn1 dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li class="dropdown-header"></li>
                          <li><a href="#/Home">Home</a></li>
                          <li><a href="#">My Account</a></li>
                          <li><a href="#">Profile</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header"></li>
                          <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>     
              </ul>
            </div>
        </div>
      </nav>

      <p class="lead"></p>
        <div class="panel-body">
                <div class="container" style="padding-top: 15px;">

                        <div  class="row">
                          <div id="div1" class="col-md-10" style="padding-top: 5px;">
                              <div style="background-color: white;">
                            <div class="panel panel-default">
                            <div  class="panel-heading" style="background-color: white;"><h4>Chapter 5 / <b style="font-size:13px; color:black;">Quizzes</b></h4></div>
                            <div  class="panel-body">
                                
                                <div id='title'>
                                      <h2>Quiz 5</h2>
                                    
                                  </div>
                                <br/>
                                <div id="h4Start">
                                    <b>Questions:</b> 15<br/>
                                    <b>Maximum Score:</b> 100<br/>
                                    <b>Pass Mark:</b> 70%<br/><br/>
                                   
                                    <h4>Click START to start the quiz</h4>
                                </div>
                                
                              
                                
                        <button id="start" class="btn-primary">Start Quiz</button>
                                
                                    
                                <div id="content">

                                        <div class="panel-footer">Your Progress<br/>
                                            <p id="questCount"></p>
                                           <div id="barra" class="progress">
                             <div id="bar" class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width:1%; background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);">
                         </div>
                                               
                         
                         
                                             
                         </div>
                             </div>


                        <div id="question"></div>
                        <div id="answers"></div>
                                    <br/>
                        <button id="back" class="btn-primary" disabled>Back</button>
                        <button id="next" class="btn-primary">Next</button>
                       
                        <h2><p id="score"></p></h2>
                      <p id="result" align="center"><b>Congratulations! You made it!</b></p>
                      <p id="resultbad"><b>Sorry, you need to score 70 points to pass</b></p>
                                    
                                    <button id="startagain">Start Again</button>
                      </div>
                                
                      </div></div></div></div>
                      
                            </div></div>
                      
        </div>
  
      <div class="line"></div>  
      <div class="pull-right">      
        <a href="#/Quiz1" class="btn btn-primary">
              Start Quiz
          </a>
      </div>
    </div>
  </div>
  
  <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>