<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
table{
border-collapse: collapse; 
width: 100%; 
text-align: center;
  
}
th {
  padding: 15px;
  padding: 8px;
  text-align: center;
  center;border-bottom: 
  1px solid #ddd;
}
td {
  padding: 15px;
  padding: 8px;
  text-align:left; 
  center;border-bottom: 
  1px solid #ddd;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
        <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
          
          
        </div>
      </li>
      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>

    <h1>Chapter 7<br>Lesson 4 <br><br>&emsp;&emsp;Create string arrays in a program</h1>
    <p class="lead"></p>
      <div class="panel-body">1.&emsp;Start Visual Studio and click New Project to open a new Visual Studio application.<br>
        2.&emsp;Choose Visual Basic | Windows Store under Templates, and then verify that the Blank App (XAML) template is selected.<br>
        3.&emsp;Type My Array Tests in the Name text box.<br>
        4.&emsp;Click OK to open and configure the new project. Visual Studio creates a new project with typical project files.<br>
        5.&emsp;Double-click the MainPage.xaml file in Solution Explorer to display the default user interface page.<br><br>

        &emsp;&emsp;&emsp;Visual Studio load MainPage.xaml into the Designer.<br>

        &emsp;&emsp;&emsp;Now you’ll change the background color of the grid to light blue and add a TextBox control and a Button control to the page. These elements will help you create a nice-looking test environment to experiment with arrays.<br><br>

        6.&emsp;Click the grid object (the page background) in the Designer, open the Properties window, and click the Brush category<br>
        7.&emsp;Open the edit menu for the Background property (the dark button to the right of the Background property under the Brush category), click Custom Expression, type LightBlue, and press Enter.<br><br>

        &emsp;&emsp;&emsp;Visual Studio changes the background color of the grid to light blue.<br><br>

        8.&emsp;Change the Designer’s Zoom control to 100% if that is not the current setting.<br><br>

        &emsp;&emsp;&emsp;A zoom of 100% will be suitable for this sample program, which only takes up part of the page.<br><br>

        9.&emsp;Add a rectangular TextBox control to the page and make it large enough for at least 15lines of text(place the control in the middle of the page, near the top).<br>
        10.&emsp;Add a rectangular Button control to the page.<br>
        11.&emsp;Set the following properties for the text box and button objects:<br><br>
        <b>&emsp;&emsp;&emsp;&emsp;Object&emsp;&emsp;&emsp;&emsp;&emsp;Property&emsp;&emsp;&emsp;&emsp;&emsp;Setting<br></b>

        &emsp;&emsp;&emsp;&emsp;Text box&emsp;&emsp;&emsp;&emsp;Name Text&emsp;&emsp;&emsp;&emsp;DataPanel<br>

        &emsp;&emsp;&emsp;&emsp;Button&emsp;&emsp;&emsp;&emsp;&emsp;Name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;DisplayArray<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Content&emsp;&emsp;&emsp;&emsp;&emsp;“Shows Array Contents”<br><br>
        12.;&emsp;Right-click the MainPage.xaml file in Solution Explorer, and the click View Code to view the code-behind file for MainPage.xaml.vb in the Code Editor.<br><br>

        You’ll declare two fixed-size arrays in this program near the top of the Blank Page template (below the statements Public NotInheritable Class MainPage and Inherits Page) so that the ar- rays will be available to all of the event handlers associated with the page.<br><br>

        13.&emsp;Move the insertion point below the Inherits Page statement, and then type the following two lines of Visual Basic code:<br><br>

        &emsp;&emsp;&emsp;Dim Waiters()As String = {“Ben”, ”Sue”, ”Lee”, ”Kim”, ”Pat”, ”Eve”, ”Sal”}<br>
        &emsp;&emsp;&emsp;Dim Drivers()As String = {“George”, ”Kim”, ”Sal”, ”Robert”, ”Jenna”, ”Rosemary”}<br><br>
        These statements declare two strings arrays, named Waiters and Drivers, that will contain the names of restaurant employees that have been trained to wait tables and drive a delivery truck, respectively. The arrays are being declared and assigned initial values at the same time through the array literal syntax described earlier in the chapter. The sizes of the arrays are de-termined automatically when the statements are compiled-Waiters contains seven elements and Drivers contains six elements.<br><br>
        Now you’ll create an event handler for the DisplayArray button object, so that it displays the contents of the Waiters array in the text box using a For...Next loop.<br><br>

        14.&emsp;Double-click the MainPage.xaml file in Solution Explorer to display the Designer, and then click the DisplayArray button containing the text “Show Array Contents.”<br><br>

        The properties of the button object appear in the Properties window.<br><br>

        15.&emsp;In the Properties window, click the Event Handler button to create a new event handler for the DisplayArray button object.<br>

        16.&emsp;Double-click next to the Click event in the Properties window<br><br>

        Visual Studio creates an event handler named DisplayArray_Click, and opens the MainPage.xaml.vb code-behind file again in the Code Editor.<br><br>
        17.&emsp;Type the following programs statements in the Code Editor between Private Sub and End Sub:<br><br>
        &emsp;&emsp;&emsp;&emsp;Dim i As Short<br>
        &emsp;&emsp;&emsp;&emsp;For i = 0 To 6<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;DataPanel.Text = DataPanel.Text & Waiters(i) & vbCrLf<br>
        &emsp;&emsp;&emsp;&emsp;Next i<br><br>
        These lines begin by declaring a variable I of type Short for use as a counter in a For…Next loop that displays the contents of the Waiters array. The for..Next loop that displays the contents of the Waiters array. The For…Next code block loops seven times, and during each pass the counter i is incremented by 1. Notice how the counter is used to access each element in the Waiters array, and how the contents of array are appended to the contents of the DataPanel text box on the page. The string concatenation operator (&) is used twice during each pass through the loop to join the current contents of the textbox to the array element and a linefeed character, which is stored in the vbCrLf constant.<br><br>
        As you can see, a For…Next loop is tailor-made to access the contents of a fixed size array, because the index of the array elements corresponds with the loop counter variable.<br>

        &emsp;&emsp;Run the program now to see how the Waiters array works.<br>

        18.&emsp;Click the Start Debugging button.<br>

        &emsp;&emsp;The application launches and displays a page containing a button and a text box.<br>

        19.&emsp;Click Show Array Contents.<br><br>
        The seven elements of the waiters array, representing employees who have been trained to wait tables at a local restaurant, appear in the text box. The main page’s code behind file declared the waiters array and filled it with String data, and the event handler for the DisplayArray button displayed the contents of the array on the page.<br><br>
        20.&emsp;Click Show Array Contents again.<br><br>

        &emsp;&emsp;The contents of the Waiters array are displayed a second time in the text box. However, this time, the array elements are appended to the current contents of the text box, so the list appears twice.<br><br>

        21.&emsp;Close the program and display the Visual Studio IDE.<br>

        22.&emsp;Click Save All to save your project.<br>








        
    


      

      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson7.3" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson7.5" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

