<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}
img{
  width: 70%;
  height: 70%;
  margin-left: 8%;
}
.dropdown-container {
  display: none;
  padding-left: 25px;
}
h3{
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-right: 5%;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
<script>
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
     <img src="images/logo.png">
      <h3>E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
               <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>

          
        </div>
      </li>
      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#/Profile">My Account</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 1</h1>
    <h1>Lesson 7 <br><br>&emsp;&emsp;Creating your first program: Hello World (GUI Approach) </h1>
    <p class="lead"></p>
      <div class="panel-body">1.  Open Visual Studio.<br><br>
    2.  On the Start Page, click New Project. If the Start Page is not present, alternatively you go to the menu bar and select File>New>New Project.<br><br>
    3.  On the New Project dialog box, locate the Templates pane on the left side and select Visual Basic, and from the available Visual Basic templates at the center of the dialog box, select Windows Forms Application<br><br>
    4.   Type name for your application. The default name is WindowsApplication1, change the name to HelloWorld <br><br>
    5.  Projects are saved by default to “…\Document\Visual Studio\Projects” but you can change the path by clicking the Browse button. For now, leave it as it is.<br><br>
    6.  Leave the Solution Name as it is.<br><br>
    7.  Click OK.<br><br>
    8.  Visual Studio will create your project and afterwards, your IDE should look like this:<br><br>
    9.  Locate the Toolbox and expand Common Controls. Double-click the control Button and a button should appear on you Form.<br><br>
    10. Locate the button that appeared on the Form and drag it towards the center:<br><br>
    11. Now locate the Properties window on the buttom-right portion of the IDE. Make sure that the button on the form is selected. A control is selected.if there are tiny squres appearing around the control.<br><br>
    12. Sort the properties aphabetically by clicking the encicled icon show below:<br><br>
    13. Locate the (name) property in the properties window. It should appearsomewhere at the top of  the list of properties  (because “name” is enclosed in parenthesis).Change the name Button1 to btnDisplay, and press enter, Name properly is used to refer to a control whenever we refer to that control in a program/application’s source code.<br><br>
    14. Next, still on the properties window, locate the text property and change the default value to display, and press enter. Text property is the text physically appearing on the button itself The button appearing on the form should now look like this:<br><br>
    15. Now let us put a code to display a message box whenever the Display button is clicked. Double-click the display button to pull up the code window.<br><br>
    16. Type the following instruction in the next line following “Private Sub btnDisplay_Click…”<br><br>
    MessageBox.show (“Hello World”)<br><br>
    &emsp;&emsp;The code/instruction is being put or typed in btnDisplay_Click subroutine because what we want to happened is that the message box will be shown whenever the button that has a name btnDisplay is clicked. The word Click that appears right after the underscore (_) in the subroutine name is called an event. An event is the triggering factor to execute the instructions in a system subroutine.<br><br>
    17. Finally, let us run the program by clicking the Start icon located in the tool bar. Altertnatively, you can also press F5 on your keyboard to run the program.<br><br>
    18. Once you run the program, the form that we have been designing a while ago will appear. Clicking the display button will show a message box that contains the string “Hello World”:<br><br>
    19. Click the (X) button of the console to terminate the program.
      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Quiz1" class="btn btn-primary">
            Quiz
        </a>
    </div>
  </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  
  <!-- jQuery -->
  <script src="js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="js/jquery.waypoints.min.js"></script>
  <!-- Stellar Parallax -->
  <script src="js/jquery.stellar.min.js"></script>
  <!-- Carousel -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- countTo -->
  <script src="js/jquery.countTo.js"></script>
  <!-- Magnific Popup -->
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/magnific-popup-options.js"></script>
  <!-- Main -->
  <script src="js/main.js"></script>