<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="index.html">VB.NET<span>.</span></a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li><a href="#/Home">Home</a></li>
							<li class="active"><a href="#/About">About</a></li>
							<li><a href="#/Chapter1">Lessons & Quizzes</a></li>
							<li class="has-dropdown">
								<a>Manage Account</a>
								<ul class="dropdown">
									<li><a href="#/Profile">Profile</a></li>
									<li ng-if="profile.permissions.Admin.Modules.One"><a href="#/InstructorList">Instructors List</a></li>
									<li ng-if="profile.permissions.Admin.Modules.Two"><a href="#/StudentList">Students List</a></li>
									<li ng-if="profile.permissions.Admin.Modules.Three"><a href="#/Reports">Reports</a></li>
								</ul>
							</li>
							<li class="active"><a href="#">Help</a></li>
							<li class="btn-cta"><a href="#" ng-click="logout()"><span>Logout</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/bg-01.jpg);" data-stellar-background-ratio="0.5">
		
				
	</header>


	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>









 