<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-1">
            <div id="fh5co-logo"><a href="index.html">VB.NET<span>.</span></a></div>
          </div>
          <div class="col-xs-11 text-right menu-1">
            <ul>
              <li><a href="#/Home">Home</a></li>
              <li><a href="#/About">About</a></li>
              <li><a href="#/Chapter1">Lessons & Quizzes</a></li>
              <li class="has-dropdown">
                <a>Manage Account</a>
                <ul class="dropdown">
                  <li><a href="#/Profile">Profile</a></li>
                  <li ng-if="profile.permissions.Admin.Modules.One" class="active"><a href="#/InstructorList">Instructors List</a></li>
                  <li ng-if="profile.permissions.Admin.Modules.Two"><a href="#/StudentList">Students List</a></li>
                  <li ng-if="profile.permissions.Admin.Modules.Three"><a href="#/Reports">Reports</a></li>
                </ul>
              </li>
              <li><a href="#">Help</a></li>
              <li class="btn-cta"><a href="#" ng-click="logout()"><span>Logout</span></a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </nav>

  <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/bg-01.jpg); color: white;" data-stellar-background-ratio="0.5">
   
       <div id="fh5co-pricing">
    <div class="container">
      <div class="row">
          <div class="col-md-10 animate-box align-center">
            <div class="price-box">
              <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>ID Number</th>
                <th class="th-lg">Instructor Name</th>
                <th class="th-lg">Course & Section</th>
                <th class="th-lg">User Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="value in instructor track by $index">
                <th scope="row">{{value.acc_id}}</th>
                <td>{{value.first_name + " " + value.last_name}}</td>
                <td>{{value.course_section}}</td>
                <td>{{value.user_type}}</td>
            <td>
              <i class="fa fa-list-ul" style="cursor:pointer" title="Permission" data-toggle="modal" data-target="#myModals"></i>
              </tr>
              <tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                    Add New</button>
    </div>
            </div>
          </div>

          

        </div>
      </div>
    </div>
  </header>


  </div>


  </body>
</html>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <div class="panel-body">
                <form class="form-horizontal row-border" action="#">
                    <div class="form-group">
                        <label class="col-md-4 control-label">ID Number</label>
                        <div class="col-md-7">
                          <input type="text" class="form-control" ng-model="acc_id">
                        </div>
                      </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="first_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Middle Name</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="middle_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="last_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Password</label>
                    <div class="col-md-7">
                      <input type="password" class="form-control" ng-model="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Course & Section</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="course_section">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Gender</label>
                  <div class="col-md-7">
                      <select ng-model="gender" class="form-control">
                        <option value="" disabled selected style="display:none;"> -- Select Type here -- </option>
                        <option value="1" style="color: black;">Female</option>
                        <option value="2" style="color: black;">Male</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">User Type</label>
                    <div class="col-md-7">
                      <select ng-model="user_type" class="form-control">
                        <option value="" disabled selected style="display:none;"> -- Select Type here -- </option>
                        <option value="3" style="color: black;">Instructor</option>
                    </select>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary pull-right" ng-click="add_instructor()">
                    <i class="fa fa-plus"></i> Add New</button>
                </form>
              </div>
</div>
</div>
</div>
</div>


<div class="modal fade" id="myModals" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Permission</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
                    <p>Instructor List</p>
                  </div>
                  <div class="col-md-1 col-lg-1">
                    <input type="checkbox" style="transform: scale(1.5);" ng-model="permissions.Admin.Modules.One">
              </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
                      <p>Students List</p>
                    </div>
                    <div class="col-md-1 col-lg-1">
                      <input type="checkbox" style="transform: scale(1.5);" ng-model="permissions.Admin.Modules.Two">
                    </div>
                </div>
              <div class="row">
                  <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
                    <p>Reports</p>
                  </div>
                  <div class="col-md-1 col-lg-1">
                    <input type="checkbox" style="transform: scale(1.5);" ng-model="permissions.Admin.Modules.Three">
                  </div>
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="edit_permission(value)">Submit</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
</div>
</div>
</div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  
  <!-- jQuery -->
  <script src="js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="js/jquery.waypoints.min.js"></script>
  <!-- Stellar Parallax -->
  <script src="js/jquery.stellar.min.js"></script>
  <!-- Carousel -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- countTo -->
  <script src="js/jquery.countTo.js"></script>
  <!-- Magnific Popup -->
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/magnific-popup-options.js"></script>
  <!-- Main -->
  <script src="js/main.js"></script>  