<style>
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
  margin: 0;
  padding: 0;
  background: #fff;

  color: #fff;
  font-family: Arial;
  font-size: 12px;
}

.body{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0;
}

.grad{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  z-index: 1;
  opacity: 0.7;
}

.header{
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2;
}

.header div{
  float: left;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}

.header div span{
  color: #5379fa !important;
}

.login{
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type=text]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 18px;
}

.login input[type=password]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 18px;
  margin-top: 10px;
}

.login input[type=button]{
  width: 250px;
  height: 35px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 3px;
  margin-top: 10px;
}

.login input[type=button]:hover{
  opacity: 0.8;
}

.login input[type=button]:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
  outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
  </style>
</head>


<div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>E-<span>Learning</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="account number" id="acc_id"><br>
        <input type="password" placeholder="password" id="password"><br>
        <input type="button" value="Login" id="btn_login" onclick="signin()">
    </div>



  <script src="JS/FACTORIES/SessionFactory.js"></script>
  <script src="JS/FACTORIES/UserFactory.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      checksession();
       $("#acc_id, #password","#btn_login").on('keypress', function( event ) {
        if ( event.which == 13 ) {
          signin();
        }         
      });
    });
    
    function checksession(){
      $.ajax('./FUNCTIONS/Session/getsession.php', {
        type: "POST",
        statusCode: {
          404: function(response){

          }
        },
        success: function(data){
          window.location.href = ('#/Home');
        }
      });
    }

    function signin(){
      var error=0;
      var account_id = $('#acc_id').val();
      var pass = $('#password').val();

      if(account_id.replace(/\s/g,'') == "" || pass.replace(/\s/g,'') == ""){
        $('#div-message').empty().show().append("ID Number and/or Password is Incorrect");

        setTimeout(function(){ 
          $('#div-message').empty().hide();
        }, 5000);
      }
      else { 
        $.ajax('FUNCTIONS/Users/Authentication.php', {
          type: "POST",
          data: { account_id : account_id, password : pass},
          statusCode: {
            404: function(response){
              $('#div-message').empty().show().append("Incorrect ID Number and/or Password");

              setTimeout(function(){
                $('#div-message').empty().hide();
              }, 5000);
            } 
          },
          success: function(data){
            window.location.href = ('#/Home');
          }
        });
      }
    }
  </script>

</body>
</html>