<style>
  h3.with-line {
  border-bottom: 1px solid $border;
  color: $default-text;
  font-weight: $font-normal;
  padding-top: 30px;
  margin-bottom: 14px;
  line-height: 39px;
  width: 100%;
}

.panel .panel-body h3 {
  &.with-line {
    margin-bottom: 14px;
    margin-top: 0;
  }
}

.profile-block {
  background: $default;

  .nav-tabs > li {
    & > a {
      border-radius: 0;
      transition: background, 0s, ease !important;
    }
  }

  .progress {
    border-radius: 0;
    margin-bottom: 6px;
  }

  .progress-info {
    margin-bottom: 8px;
    margin-top: -2px;
  }

  .tab-content {
    padding: 15px 15px 25px;
  }

  .progress-bar-primary {
    background-color: $primary-light;
  }

  .form-group {
    margin-bottom: 14px;
    label {
      text-align: right;
    }
  }

  .form-control {
    font-size: 13px;
  }
}

.notification {
  .form-group {
    label {
      text-align: left;
      padding-left: 26px;
    }
  }
}

.userpic {
  border: 1px dashed #b8b8b8;
  width: 202px;
  height: 202px;
  position: relative;
  cursor: pointer;
  .userpic-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  i {
    display: none;
    position: absolute;
    font-size: 32px;
    background: $default;
    cursor: pointer;
    color: $primary;
    top: -11px;
    right: -11px;
    height: 26px;
    border-radius: 50%;
    &:before {
      line-height: 26px;
    }
    &:hover {
      color: $danger;
    }
  }
  a.change-userpic {
    display: none;
    width: 202px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 200ms ease-in-out;
    color: $default-text;
    text-decoration: none;
    position: absolute;
    bottom: -1px;
    left: -1px;
    line-height: 32px;
    text-align: center;
  }
  &:hover {
    i {
      display: block;
    }
    .change-userpic {
      display: block;
    }
  }
}

.save-profile {
  margin: 23px 0 12px 12px;
}

$snColor: $primary;
$snPadding: 8px;
a.sn-link {
  transition: none;
  display: block;
  border-radius: 5px;
  background-color: transparent;
  padding: $snPadding;
  color: $default-text;
  border: 1px solid transparent;
  margin-bottom: 23px;
  width: 100%;
  position: relative;
  cursor: pointer;
  text-decoration: none !important;
  i.socicon {
    padding: 6px;
    border-radius: 50%;
    width: auto;
    font-size: 17px;
    margin-right: 8px;
    background-color: rgba(0,0,0,.15);
    color: $default-text;
  }
  span {

  }

  span {
    font-size: 14px;
    line-height: 29px;
  }

  @mixin activeSn() {
    border-color: $snColor;
    border-width: 2px;
    padding: $snPadding - 1;
    span {
      color: $default-text;
    }
    i {
      background: $snColor;
    }
  }

  &.connected {
    @include activeSn();
    em {
      display: block;
    }
  }
  &:hover {
    @include activeSn();
  }

  .socicon {
    background: transparent;
  }
}

.close {
  opacity: 1;
  box-shadow: none;
  outline: none !important;
  &:hover, &:focus, &:active {
    opacity: 1;
  }
}

.connected .sn-link-close {
  position: absolute;
  top: 1px;
  right: 0;
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 32px;
  color: $snColor;
  transition: all 0.1s ease;
  outline: none;
  &:hover {
    color: $danger;
    transform: scale(1.2);
  }
}

.social-profiles {
  padding-top: 3px;
  margin-bottom: -3px;
  padding-left: 12px;
}

.profile-page {
  .form-group {
    label {
      line-height: 34px;
      font-size: 14px;
      font-weight: $font-light;
    }
    input{
      font-weight: $font-light;
    }
  }
}

input[type=text]{
    border-color: white;
    color: white;
  }
  input[type=password]{
    border-color: white;
    color: white;
  }
</style>
<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-1">
            <div id="fh5co-logo"><a href="index.html">VB.NET<span>.</span></a></div>
          </div>
          <div class="col-xs-11 text-right menu-1">
            <ul>
              <li><a href="#/Home">Home</a></li>
              <li><a href="#/About">About</a></li>
              <li><a href="#/Chapter1">Lessons & Quizzes</a></li>
              <li class="has-dropdown">
                <a>Manage Account</a>
                <ul class="dropdown">
                  <li class="active"><a href="#/Profile">Profile</a></li>
                  <li ng-if="profile.permissions.Admin.Modules.One"><a href="#/InstructorList">Instructors List</a></li>
                  <li ng-if="profile.permissions.Admin.Modules.Two"><a href="#/StudentList">Students List</a></li>
                  <li ng-if="profile.permissions.Admin.Modules.Three"><a href="#/Reports">Reports</a></li>
                </ul>
              </li>
              <li><a href="#">Help</a></li>
              <li class="btn-cta"><a href="#" ng-click="logout()"><span>Logout</span></a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </nav>

  <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/bg-01.jpg); color: white; height: 100%" data-stellar-background-ratio="0.5">
      <div id="fh5co-pricing">
    <div class="container align-center">
      <div class="row">
          <div class="col-md-10 animate-box align-center">
            <div class="price-box">
              <div class="panel-body">
                <form class="form-horizontal row-border" action="#">
                    <div class="form-group">
                        <label class="col-md-4 control-label">ID Number : </label>
                        <div class="col-md-7">
                          <input type="text" class="form-control" ng-model="acc_id" ng-init="value.acc_id" disabled>
                        </div>
                      </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="first_name" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Middle Name</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="middle_name" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="last_name" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Course & Section</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" ng-model="course_section" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Gender</label>
                    <div class="col-md-7">
                      <select ng-model="user_type" class="form-control" style="border-color: white;color: white;">
                        <option value="" disabled selected style="display:none;"> -- Select Type here -- </option>
                        <option value="1" style="color: black;">Female</option>
                        <option value="2" style="color: black;">Male</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Old Password</label>
                    <div class="col-md-7">
                      <input type="password" class="form-control" ng-model="old_password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Password</label>
                    <div class="col-md-7">
                      <input type="password" class="form-control" ng-model="password">
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary pull-right" ng-click="update_profile()">
                  Update Profile</button>
                </form>
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </div>
       
  </header>
  </div>
  </body>
</html>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  
  <!-- jQuery -->
  <script src="js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="js/jquery.waypoints.min.js"></script>
  <!-- Stellar Parallax -->
  <script src="js/jquery.stellar.min.js"></script>
  <!-- Carousel -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- countTo -->
  <script src="js/jquery.countTo.js"></script>
  <!-- Magnific Popup -->
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/magnific-popup-options.js"></script>
  <!-- Main -->
  <script src="js/main.js"></script>  