<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
         <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
          
        </div>
      </li>
      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 10</h1>
    <h1>Lesson 7 <br><br>&emsp;Creating User Define Database in Visual Studio 2010 or Later</h1>
    <p class="lead"></p>
      <div class="panel-body">&emsp;STEP 1:&emsp;On the Server Explorer, Right Click Data Connection then select Create New SQL Server Database. (If Server Explorer is not visible in your IDE, Click View in the Menu Bar then select Server Explorer.)<br><br>

      &emsp;STEP2:&emsp;Select Server Name. Be sure that the SQL Browser Services is running on the Services. A pop-up window will appear that looks like what is shown on the next page.<br><br><br>

  
      To check for available server name, go to Run and type services .msc, the Services window will appear as shown below:<br>

      Check the SQL Server (SQLEXPRESS) and <b>SQL Server Browser</b> if running if not change the properties and try to start the services. To start the services, right click on SQL Server Browser the following submenu will appear:<br>

      Select on <b>Properties</b> and it will display the following window:<br>

      On <b>Startup</b> type menu select Automatic the press <b>Apply</b> Button. The <b>Start</b> button will automatically be enabled then press Start Button and press OK.<br>

      Window will show the following:<br>

    
      &emsp;STEP3:&emsp;Type database name and click OK. Wait until the new instance of the connection appear.<br>

      &emsp;STEP4:&emsp;Design the table for your Project. To Create a Table, Right Click table Folder the select Add New Table. This will give you the following window.<br>
      STEP5: Then the Design View will appear.<br>
      Finished table looks like the following:<br>
      Note: To set an ID as Primary key you have to go on the <b>Identity Specification Properties</b>, set Identity to<b> YES</b>. Setting IsIdentity to YES allow the field to auto increment then Save.<br>
      <b>ADO.NET</b><br>
      <b>ADO.NET</b> is a data access technology from Microsoft .Net Framework, which provides communication between relational and non-relational systems through a common set of components. The <b>ADO.NET</b> namespace has a lot of objects in. They’re roughly split in two groups:<br>
      &emsp;&emsp;&emsp;•&emsp;content components<br>
      &emsp;•&emsp;managed-provider components<br>
      The content components essentially hold actual data and include these classes:<br>
      &emsp;&emsp;&emsp;•&emsp;dataSet<br>
      &emsp;&emsp;&emsp;•&emsp;dataTable<br>
      &emsp;&emsp;&emsp;•&emsp;dataView<br>
      &emsp;&emsp;&emsp;•&emsp;dataRow<br>
      &emsp;&emsp;&emsp;•&emsp;dataColumn<br>
      &emsp;&emsp;&emsp;•&emsp;dataRelation<br><br>

      The managed-provider components interact with the database for data retrievals and updates. These components include:<br><br>
      &emsp;&emsp;&emsp;•&emsp;connection<br>
      &emsp;&emsp;&emsp;•&emsp;command <br>
      &emsp;&emsp;&emsp;•&emsp;data adapter<br>
      &emsp;&emsp;&emsp;•&emsp;data reader<br><br>

      These names are “generic” because unique managed-provider components are used with different databases. These are two that are currently automatically included with ADO.NET: SqlClient is used with Microsoft’s SQL Server database and OleDb for everything else.<br><br>

      <i><b>Connect to the database</b></i><br>
      &emsp;&emsp;&emsp;&emsp;sqlConn = New SqlConnection(stCon)<br>
      &emsp;&emsp;&emsp;&emsp;sqlConn.Open()<br>
      &emsp;&emsp;&emsp;&emsp;if SqlConn.State = ConnectionsState.Open Then<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Return True<br>
      &emsp;&emsp;&emsp;&emsp;Else<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Return False <br>
      &emsp;&emsp;&emsp;&emsp;End If<br><br>
      Note: The .State property is used to check the state of the database.<br><br>


      <b>Insert the values onto the database</b><br> 
      &emsp;&emsp;&emsp;&emsp;strSql = "Insert into tblUsers (FirstName, MiddleName, LastName)"strSql & ="Values (@fname, @mname, @lname)"<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Dim sqlcmd As SqlCommand = New SqlCommand _ (strSql, mycon.sqlConn)<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Dim firstName As SqlParameter = <br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;New SqlParameter("@fname", SqlDbType.NVarChar)<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;firstName.Value = fname.TOString<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;sqlcmd.Parameters.Add(firstName)<br>
      &emsp;&emsp;&emsp;&emsp;Dim midName As SqlParameter = <br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;New SqlParameter("@mname", SqlDbType.NVarChar)<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;midName.Value = mname.TOString<br>
      &emsp;&emsp;&emsp;&emsp;sqlcmd.Parameters.Add(midName)<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Dim lastName As SqlParameter = <br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;New SqlParameter("@lname", SqlDbType.NVarChar)<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;lastName.Value = lname.TOString<br>
      &emsp;&emsp;&emsp;&emsp;sqlcmd.Parameters.Add(lastName)<br>
      &emsp;&emsp;&emsp;&emsp;sqlcmd.ExecuteNonQuery() 'update and insert into'<br><br>

      Note: We use SQL Parameter to access the value to insert on the database. The ExecuteNonQuery Method used to perform INSERT, DELETE, UPDATE to the database.<br><br>
      &emsp;&emsp;&emsp;&emsp;Dim mycmd As SqlCommand<br>
      &emsp;&emsp;&emsp;&emsp;Dim myadapter As New SqlDataAdapter<br>
      &emsp;&emsp;&emsp;&emsp;Dim ds As New DataSet<br>
      &emsp;&emsp;&emsp;&emsp;Dim strsql As Steing =""<br>
      &emsp;&emsp;&emsp;&emsp;Dim objCon As New DBConnection<br>
      &emsp;&emsp;&emsp;&emsp;strsql = "Select ID, FirstName, MiddleNAme, LastName from tblUsers"<br>
      &emsp;&emsp;&emsp;&emsp;if objCon.ISConnected Then<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;mycmd = New SqlCommand (strsql, objCon.sqlConn)<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myadapter.SelectCommand = mycmd<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myadapter.Fill(ds)<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myadapter.Dispose()<br>
       &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; mycmd.Dispose()<br>
      &emsp;&emsp;&emsp;&emsp;End if<br><br>

      Note: A DataSet can contain all the basic elements of a database: tables, keys, indexes, and even relations between tables. So by creating a DataSet, you’ll be discovering the structure of a database at the same time. The fundamental differences between a DataSet and a database are that a database generally resides on a hard drive in one or more files and is usually larger. A DataSet usually holds a subset of the data in a full database.<br><br>

      Display values from the database into a ListView<br>
      With lvlUsers<br>
        &emsp;&emsp;&emsp;&emsp;.View = View.DEtails<br>
        &emsp;&emsp;&emsp;&emsp;.HeaderStyle = ColuumnHeaderStyle.Nonclickable<br>
        &emsp;&emsp;&emsp;&emsp;.Columns.Add("ID")<br>
        &emsp;&emsp;&emsp;&emsp;.Columns.Add("First Name")<br>
        &emsp;&emsp;&emsp;&emsp;.Columns.Add("Last Name")<br>
        &emsp;&emsp;&emsp;&emsp;.Columns(0).Width = .Width = 0.1<br>
        &emsp;&emsp;&emsp;&emsp;.Columns(1).Width = .Width = 0.3<br>
        &emsp;&emsp;&emsp;&emsp;.Columns(2).Width = .Width = 0.3<br>
        &emsp;&emsp;&emsp;&emsp;.Columns(3).Width = .Width = 0.3<br>
        &emsp;&emsp;&emsp;&emsp;.GridLines = True<br>
      &emsp;&emsp;&emsp;&emsp;End With<br>
      &emsp;&emsp;&emsp;&emsp;Dim myds As DataSet = LoadUsers()<br>
      &emsp;&emsp;&emsp;&emsp;Dim myItem As ListViewItem<br><br>

      &emsp;&emsp;&emsp;&emsp;For i = 0 To myds.Tables(0).Rows.Count - 1<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myItem = ListViewItem<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myItemText(myds.Tables(0).Rows(i).Item(0))<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myItem.SubItems.Add(myds.Tables(0).Rows(i).Item(1))<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myItem.SubItems.Add(myds.Tables(0).Rows(i).Item(2))<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;myItem.SubItems.Add(myds.Tables(0).Rows(i).Item(3))<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;lvlUsers.Items.Add(myItem)<br>
      &emsp;&emsp;&emsp;&emsp;Next<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;txtFirstName.Text = CStr(myds.Tables(0).Rows(0).Item(1))<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;txtMiddleName.Text = CStr(myds.Tables(0).Rows(0).Item(2))<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;txtLastName.Text = CStr(myds.Tables(0).Rows(0).Item(3))<br>

      
      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson10.6" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson10.8" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

