<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
table{
border-collapse: collapse; 
width: 100%; 
text-align: center;
  
}
th {
  padding: 15px;
  padding: 8px;
  text-align: center;
  center;border-bottom: 
  1px solid #ddd;
}
td {
  padding: 15px;
  padding: 8px;
  text-align:left; 
  center;border-bottom: 
  1px solid #ddd;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
</head>
<body>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
         <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
          
        </div>
      </li>
      
      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 10</h1>
    <h1>Lesson 3 <br><br>&emsp;&emsp;Working with an Access Database</h1>
    <p class="lead"></p>
      <div class="panel-body">&emsp;&emsp;Establish a connection by using the Data Source Configuration Wizard<br>
        &emsp;1.&emsp;Make sure that you have Access 2007 or later installed. If you don’t have Access 2007 installed, download and install the 2007 Office System Driver: Data Connectivity Components from http://microsoft.com.<br>
        &emsp;2.&emsp;Start Visual Studio, and then create a new Visual Basic Windows Forms Application project named My ADO User Form. <br><br>
        A new projects opens in the integrated Development Environment (IDE).<br><br>
        &emsp;3.&emsp;On the project menu, click the Add New Data Source command.<br><br>

        The Data Source Configuration Wizard starts in the development environment, as shown in the following screen shot:<br><br>
        <img src="images/wizard.jpg" style="width:45%;"><br><br>
        The Data Source Connection Wizard is a feature within the Visual Studio IDE that automatically prepares your Visual Basic program to receive database information. The wizard prompts you for the type of database that you will be connecting to (a local or remote database, web service, custom data object that you have created, or Microsoft SharePoint site), establishes a connection to the data, and then creates a dataset or data entity within the program to hold specific database tables and fields. The result is that the wizard opens the Data Sources window and fills it with a visual representation of each database object that you can use in your program.<br><br>
        &emsp;4.&emsp;Click the Database icon (if it is not already selected) in the Data Source Configuration Wizard, and then click Next.<br><>
        The wizard displays a screen prompting you to choose a database model for your application and the connection that your program will make to the database information.<br>
        <img src="images/wizardd.jpg" style="width:45%;"><br><br>
        &emsp;5.&emsp;Click Dataset, and then click Next to select the dataset model. <br>
        The wizard now displays a screen that helps you establish a connection to your database by building a connection string. A connection string contains the information that Visual Studio needs to location of the database and also potentially sensitive data such as a user name and password. For this reason, the connection string is treated carefully within the Data Source Connection Wizard, and you should take care to protect it from unauthorized access as you copy your source files from place to place.<br>
        &emsp;6.&emsp;Click the New Connection button.<br>
        <img src="images/wizarddd.jpg" style="width:45%;"><br><br>
        The first time that you click the New Connection button, the Choose Data Source dialog box opens, prompting you to select database format that you plan to use. If you see the Add Connection dialog box instead of the Choose Data Source dialog box, it simply means that your copy of Visual Studio has already been configured to favour a particular database format. No problem; simply click the Change button in Add Connection dialog box, and you’ll see the same thing that first-time wizard user see, except that the title bar reads Change Data Source. In this example, I’ll assume that you haven’t selected a data source format in that case, your screen looks like the following screen shot:<br>
        <img src="images/wizardddd.jpg" style="width:45%;"><br><br>
        The Change/Choose Data Source dialog box is the place where you select your preferred database format, which Visual Studio uses as the default format.  In this chapter, you’ll select the Access format, but note that you can change the database format to one of the other choices at any time. (Periodically, the list of available data sources changes). You can also establish more than one database connection—each to a different type of database—within a single project.<br>
        &emsp;7.&emsp;Click Microsoft Access Database File, and then click Continue (or OK).<br>
        The Add Connection dialog box opens, as shown in the following screenshot:<br>
        <img src="images/wizarddddd.jpg" style="width:45%;"><br><br>
        Now you’ll specify the location and connection settings for your database so that Visual Studio can build a valid connection string.<br>
        &emsp;8.&emsp;Click Browse.<br>
        The Select Microsoft Access Database File dialog box opens, which functions like an Open dialog box.<br>
        <img src="images/wizardddddd.jpg" style="width:45%;"><br><br>
        &emsp;9.&emsp;Browse to the My Documents\Visual Basic 2013 SBS\Chapter 17 folder, click the databaseUsers.accdb database, and then click Open.<br>
        You have selected the access database that was built to demonstrate how database fields and records are displayed within a Visual Basic program. The Add Connection dialog box opens again with the path name recorded. Access was not restricted to this file in any way, so a user name and password are not necessary with Faculty.accrdb. However, if your database requires a user name, a password, or both, you can specify it now in the User Name and Password boxes. These values are then included in the connection string.<br>
        &emsp;10.&emsp;Click the Test Connection Button.<br>
        Visual Studio attempts to open the specified database file with the connection string that the wizard has built for you. If the database is in a recognized format and the user name and password entries (if any) are correct, you see the message shown here: <br>
        <img src="images/wizardddddd.jpg" style="width:45%;"><br><br>
        &emsp;11.&emsp;Click OK to close the message box, and then click OK to close the ADD Connection dialog box<br>
        Visual Studio displays the Data Source Configuration Wizard again. <br>
        &emsp;12.&emsp;Click the plus sign(+) next to the Connection String Item in the dialog box to display your completed connection string.<br>
        Your wizard page looks similar to the following:<br>
        <img src="images/wizarddddddd.jpg" style="width:45%;"><br><br>
         The connection string identifies a provider (also called a managed provider) named Microsoft.ACE.OLEDB.12.0, which is an underlying database and extract data from it. The two most popular providers offered by Visual Studio are Microsoft OLE DB and SQL Server, but third-party providers are available for many of the other popular database formats.
        &emsp;13.&emsp;Click the Next button.<br>
        The wizard displays an alert message indicating that a new local database (or local data file) has been selected that is not in the current project, and you are asked whether the database should be copied to your project folders. (This message appears only the first time that you make a connection to a local database file. If you are repeating this exercise, you probably won’t see the message.)<br>
        &emsp;14.&emsp;Click No to avoid making an extra copy of the database at this time.
        The Data Source Configuration Wizard now ask you the following question: Do you want to save the connection string to the application configuration file? Saving the connection string is the default selection, and in this example, the recommended string name is databaseUsersConnectionString. You usually want to save this string with your application’s default configuration file, because if the location of your database changes, you can edit the string in your configuration file(which is listed in Solution Explorer), as opposed to tracking down the connection string within your program code and recompiling the application.<br>
        <img src="images/wizardddddddd.jpg" style="width:45%;"><br><br>
        &emsp;15.&emsp;Click Next to save the default connection string.
        You are now prompted to select the subset of database objects that you want to use for this particular project, as shown in the following dialog box:<br>
        <img src="images/wizarddddddddd.jpg" style="width:45%;"><br><br>
        The items you select in this dialog box are referred to within the project as database objects. Database objects can include tables of fields and records, database views, stored procedures, functions, and other items unique to your database. In this way, data base programming in Visual Studio fits nicely into the object-oriented programming paradigm you’ve already been exposed in this book.<br>
        The collective term for all the database objects that you select is a dataset. In this project, the dataset is assigned the default name databaseUsersDataSet, which you can adjust in the DataSet Name box.<br>
        &emsp;16.&emsp;Click the arrow next to the Tables node to expand the list of the tables included in the databaseUsers.accdb database. In this case, there is only one table listed, named tblUsers, which we’ll use in our sample program.<br>
        &emsp;17.&emsp;Click the arrow next to the Faculty node, and then select the check boxes for the ID, City,Country and CountryLanguage fields.<br>
        You’ll add these two fields to the City dataset. The wizard page looks like the following screenshot:<br>
        <img src="images/wizardddddddddd.jpg" style="width:45%;"><br><br>
        &emsp;18.&emsp;Click the Finish button to complete and close the Data Source Configuration Wizard.
        Visual Studio finishes the tasks of adding a database connection to your project and configuring the dataset with the selected database object.
        &emsp;19.&emsp;Click the Save All button on the Standard toolbar to save your changes. Specify the folder where to save the changer.
        &emsp;20.&emsp;If Solution Explorer is not currently visible, open it now to display the major files and components contained in the My ADO Users Form project.
        Solution Explorer looks like this: <br>
        <img src="images/wizarddddddddddd.jpg" style="width:45%;"><br><br>
        Here the Dataset Designer is shown with an active dataset named databaseUsersDataSet, and the properties window shown that the MaxLength property is set to allow for a maximum of 50 characters in the LastName field. The longest conceivable last names in a database, you can adjust this property (and others too) if you find that the underlying database settings are inadequate for your application.<br>
        Setting the Dataset Designer aside for a moment, let’s continue building the sample database application in the Data Sources window.<br>




















      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson10.2" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson10.4" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

