<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
table{
border-collapse: collapse; 
width: 100%; 
text-align: center;
  
}
th {
  padding: 15px;
  padding: 8px;
  text-align: center;
  center;border-bottom: 
  1px solid #ddd;
}
td {
  padding: 15px;
  padding: 8px;
  text-align:left; 
  center;border-bottom: 
  1px solid #ddd;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
         <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
          
        </div>
      </li>
    
      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 10</h1>
    <h1>Lesson 4 <br><br>&emsp;&emsp;The Data Sources Window </h1>
    <p class="lead"></p>
      <div class="panel-body">The Data Sources window is a useful and timesaving feature of the Visual Studio 2013 IDE. Its purpose is to display a visual of the datasets that have been configured for use within your project and to help you bind these datasets to controls in the user interface. Remember that a dataset is just a temporary representation of database information in your program and that each dataset contains only a subset of the tables and fields within your entire database file that is, only the items that you selected while using the data source configuration wizard. The dataset is displayed in a hierarchical (tree) view in the data source window, with a root node for each of the objects that you selected in the wizard. Each time you run the wizard to create a new dataset, a new dataset, giving you potential access to a wide range of data sources and views within a single program.<br>
      If you have been following the instructions for selecting fields in the tbIUsers table of the databaseUsers database, you have something interesting to display the form again(click the Form1.vb[Design]tab), point to the otherwindows submenu on the view menu, and then click the data sources command. When the Data Sources window is open, expand the tbIUsers table so that you can see the two fields that we selected. Your data sources window shouldlook like this now:<br>
      <img src="images/wizarddddddddddddd.jpg" style="width:45%;"><br><br>
      Across the top of the window are four helpful tools that allow you to work with datasets. From left to right, these toolbar buttons allow you to add a new dataset designer, add or remove dataset fields with the wizard, and refresh the dataset.<br>
      The easiest way to display the information in a dataset on a form (and therefore for your users) is to drag objects from the Data Sources window to the windows Form Designer. (This is the designer you used in earlier chapters, but I am calling it the windows forms designer here to distinguish it from the Dataset Designer.)<br>
      In the remainder of this chapter, you’ll experiment with dragging individual field of data to the Windows Form Designer to bind controls to select field in the databaseUsers database. Give it a try now.<br>
      Use the Data Sources window to create database objects on a form.<br>
      &emsp;1.&emsp;In the Data Source window, click the arrow next to the tbIUsers node to display the available fields in databaseUsersDataSet (if you have not already done so).<br>
      Your Data Source window looks like the previous screen shot. In Visual Studio, you can display individual fields or an entire table of data simply dragging the desired database objects onto your form. <br>
      &emsp;2.&emsp;Click the Last Name field, which contains the name of each instructor in the databaseUsers database. An arrow appears to the right of the Last Name field in the Data Sources window. If the arrow does not appear, make sure that the Form1.vb [Design] tab is active in the Designer window, and then click the Last Name again.<br>
      &emsp;3.&emsp;Click the Last Name arrow.<br>
      Clicking this arrow displays a list of options related to how a database field is displayed on the form when you drag it, as shown in the following screen shot:<br>
      <img src="images/wizardddddddddddddd.gif" style="width:45%;"><br><br>
      The list of controls you see now is a group of common options for displaying string information from a database, but you can add additional controls to the list (or remove items) by clicking the customize command. In this case, you’ll simply use the TextBox control, the default bound control for string data.
      &emsp;4.&emsp;Click TextBox in the list.
      The list collapses, and Visual Studio registers your selection.
      5.  Now drag the Last Name field to the middle of the form in the Windows Forms Designer.
      As you drag the field over the form, a plus sign (+) below the pointer indicates that adding this database object to a form is a valid operation. When you release the mouse button, Visual Studio creates a data-ready text box object and places a professional-looking navigation bar at the top of the form. The form looks something like this (you data sources window might be in a different location):<br>
      <img src="images/txtbox.jpg" style="width:45%;"><br><br>
      Visual studio has actually created two objects for this Last Name field: a descriptive label object containing the name of the field and a bound text box object that will display the contents of the field when you run the program. Below the form in the component tray, Visual Studio has also created several objects to manage internal aspects of the data access process, including the following:<br>
      &emsp;&emsp;&emsp;•&emsp;DatabaseUsersDataSet the dataset that you created with the data source configuration wizard to represent fields in the databaseUsers database.<br>
      &emsp;&emsp;&emsp;•&emsp;TbIUsersBindingSource an intermediary component that acts as a conduit between the tbIUsers table and bound objects on the form.<br>
      &emsp;&emsp;&emsp;•&emsp;TbIUsersTableAdapter and TableAdapterManager Intermediary components that move databetween dtababaseUsersDataSet and tables in the underlying databaseUsers database.<br>
      &emsp;&emsp;&emsp;•&emsp;TbIUsersBindingNavigator A component that provides navigation services and properties related to the navigation toolbar and the tbIUsers table.<br>
      Now you’ll run the program to see how all these objects work.<br>
      &emsp;6.&emsp;Click the Start Debugging button on the Standard toolbar. The ADO User Form program runs in the IDE. The text box object is loaded with the first Last Name record in the database (Abercrombie), and a navigation toolbar with several buttons and controls appears at the top of the form, as shown in the following screen shot:<br>
      <img src="images/download.jpg" style="width:45%;"><br><br>
      The navigation toolbar is a helpful feature in the Visual Studio database programming tools. From left to right, it contains Move First and Move Previous buttons; a current position indicator; and Move Next, Move Last, Add New, Delete, and Save Data buttons.<br>
      You can change or delete these toolbar buttons by setting the items property for the binding navigator object in the Properties window, which displays a visual tool called the Items Collection Editor. You can also enable or disable individual toolbar buttons.<br>
      &emsp;7.&emsp;Click the Move Next button to scroll to the second user name in the dataset.
      The Cruz record appears.<br>>
      &emsp;8.&emsp;Continue scrolling through the dataset one record at a time. As you scroll through the list of names, notice that the position indicator keeps track of where you are in the list of records.<br>
      &emsp;9.&emsp;Click the Move First and last records of the dataset, respectively.<br>
      &emsp;10.&emsp;Delete the last record from the dataset (Skinner) by clicking the Delete button when the record is visible.<br>
      The record is deleted from the dataset, and the position indicator shows that there are now 4 records remaining your form looks like this:<br>
      As mentioned earlier, the dataset represents only the subset of tables from the databaseUsers database that have been used in this project-the dataset is a disconnected image of the database, not the database itself, Accordingly, the record the you deleted has been deleted only from the dataset that is loaded in memory while the program is running. However, to verify that the program is actually working with disconnected data and is not modifying the original database, you’ll stop and restart the program now.<br>
      &emsp;11.&emsp;Click the Close button on the form to end the program.<br>
      &emsp;12.&emsp;Click Start Debugging to run the program again.<br>
      When the program restarts the form loads, the navigation toolbar shows that the dataset contains 5 records, as it did originally. That is, it works as expected.<br>
      &emsp;13.&emsp;Click the Move Last button to view the last record in the dataset.<br>
      The record for skinner appears again. This final faculty name was deleted only from memory and has reappeared because the underlying database still contains the name.<br>
      &emsp;14.&emsp;Click the Close button again to close the program.<br>
      Without writing any program code, you have built a simple database application that displays specific information from a database. Setting up the dataset has taken many steps, but the dataset is now ready to be used in many ways in the program.<br>









      
      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson10.3" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson10.5" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

