<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
         <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
          
        </div>
      </li>
    
      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 10</h1>
    <h1>Lesson 8 <br><br>&emsp;&emsp;Visual Studio web development with ASP.NET</h1>
    <p class="lead"></p>
      <div class="panel-body"><b>After completing this chapter, you will be able to</b><br>
      &emsp;•&emsp;Understand ASP.NET 4.5.1, Microsoft’s newest web development framework.<br>
      &emsp;•&emsp;Build a sample car mortgage application using Web Forms.<br>
      &emsp;•&emsp;Add server controls and event handlers to a Web Forms project.<br><br>
        ASP.NET is a web application framework designed to create dynamic webpages and websites for the Internet. ASP.NET was first released in 2002 with Microsoft Visual Studio.NET version 1.0. Subsequent versions of ASP.NET have been aligned with new releases of the .NET Framework and Visual Studio. Following this general pattern, Visual Studio 2013 released with ASP.NET 4.5.1 as its web development interface, which corresponded to the release of the .NET Framework 4.5.1. The two libraries are designed to be used together.<br>
        One of the goals of ASP.NET was to simplify web development by providing a programming model that was similar to what developers were already doing on the Windows platform. ASP.NET achieved this by allowing developers to build pages composed of controls , similar to the way that Windows Forms applications were created in the Visual Studio IDE. A web Forms control, such as button or label, functioned similarly to a Windows Forms button. In both cases, there were customizable properties, methods, events, and code-behind files that worked according to the general principles of object-oriented programming in Visual Studio. This included the ability to use the entire Visual Basic language and reference objects in the ASP.NET Framework, just as developers had used these features for Windows programming and the .NET Framework. However, while Windows Forms controls produce segments of HTML and Javascript that form pages sent to a browser on the user’s computer or handled device.<br>
        Like the .NET Framework, ASP.NET is built on the <b>Windows Common Language Runtime(CLR)</b>, which allows Visual Studio developers to write ASP.NET programs using any supported .NET language, including Visual Basic. Using ASP.NET, you can create a website that displays a user interface, processes data, and provides many of the commands and features that a standard application for Windows might offer. However, the website that you create is viewed in a web browser, such as Internet Explorer, Google Chrome, Mozilla Firefox, Apple Safari, or a mobile device such as Windows Phone 8, an Android smartphone, or an Apple iPhone.<br>
        <u><b>Create a new website</b></u><br>
        &emsp;1.&emsp;Start Visual Studio, and then click the New Web Site command on the File menu.<br><br>

        Although you might have seen the New Web Site command before, we haven’t used it yet in this book. This command prepares Visual Studio to build a website. You see a New Web Site dialog box similar to the following:<br><br>
          &emsp;&emsp;In this dialog box, you can select a variety of website templates (including a Web Forms site), the location for the website (local file system, HTTP server, or FTP site), and the programming language that you want to use (Visual Basic pr Visual C#).<br><br>

        You can also identify the version of the .NET Framework that you want to target with your web application.  (Version 4.5.1 offers the most recent features, but there are times that you might need to design specifically for platforms with an earlier version of the .NET Framework. However, the Express product does not provide the option of targeting a specific version of the .NET Framework)<br>

        &emsp;2.&emsp;In the New Website dialog box, verify that Visual Basic is the selected language and that ASP.NET Web Forms Site is the selected template.<br>

        &emsp;3.&emsp;In the Web Location list box, make sure that File System is selected.<br>
        &emsp;4.&emsp;Click the Browse button, browse to the My Documents\Visual Basic 2013 SBS folder, and then edit the Folder path so that it is C:\Users\BEEZAZZ\Documents\Visual Studio 2013\WebSites\My Web App.<br><br>
        Because a Visual Studio websites takes up an entire folder, you’ll create a new folder for your project with the “My” prefix. Although you have been specifying the folder location for projects after you have built the projects in this book, in web development, projects are typically saved up front.<br><br>
        &emsp;5.&emsp;Click open to confirm the location selection, and then click Yes to create the new folder on your system.<br>
        &emsp;6.&emsp;Click OK to accept your selections and create the new website.<br>
        Visual Studio loads the Web Designer, creates a webpage (Default.aspx) to contain the user -interface, and creates a code-behind file (Default.aspx.vb) that will store the code for your webpage.<br>
        If you don’t see Default.aspx open in the Web Designer, double-click Default.aspx in Solution Explorer now to open it.<br>
        &emsp;7.&emsp;At the bottom of the Web Designer, click the design tab if it is not already selected.<br><br>
        
        Unlike the Windows Forms Designer, the Web Designer display the webpage in three possible views in the IDE, and three tabs at the bottom of the Designer (Design, Split, and Source) allow you to change your view of the webpage.<br>
        The design tab shows you approximately how your webpage will look when a web browser display it. <br>When the Design tab is selected, a basic template page with words Modify This Template To Jump-Start your ASP.NET Application appears in the Designer, and you can add controls to your webpage and adjust how objects on the page are arranged. <br>
        On the Source tab, you can view and edit the HTML and ASP.NET markup that are used to display the webpage in a web browser. The Split tab offers a composite view of the Design and Source tabs. Because you are used to seeing XAML markup and a Windows Store page in the designer in Split view, the overall look of the Web Designer will be somewhat familiar to you.<br>
        A few additional differences between the Windows Forms Designer and the Web Designer are worth noting at this point. The Toolbox now contains several collections of controls used exclusively for web programming. Solution Explorer also contains a different list of project files for the websites you’re building, as shown in the preceding screen shot. In particular, notice the Default.aspx file in Solution Explorer; this file contains the user interface code for the active webpage. Nested under the Default.aspx file, you’ll find the code-behind file named Default.aspx.vb. a configuration file named Web.config  and a master page file named Site.master are also listed.<br>




      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson10.7" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson10.9" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

