<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
table{
border-collapse: collapse; 
width: 100%; 
text-align: center;
  
}
th {
  padding: 15px;
  padding: 8px;
  text-align: center;
  center;border-bottom: 
  1px solid #ddd;
}
td {
  padding: 15px;
  padding: 8px;
  text-align:left; 
  center;border-bottom: 
  1px solid #ddd;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
        <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
           
          
        </div>
      </li>
      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 6</h1>
    <h1>Lesson 4 <br><br>&emsp;&emsp;Methods of the String Class</h1>
    <p class="lead"></p>
      <div class="panel-body"><b>Methods of the String Class</b>. Compares two specified <b>string</b> objects and returns an integer that indicates their relative position in the sort order.<br><br>
        <table border="1">
      <tr>
          <th>Methods Name</th>
          <th>Description</th>
      </tr>
      <tr>
          <td>1</td>
          <td>Public Shared Function Compare (strA As String, strB As String) As Integer <br>
          Compares two specified string objects and returns an integer that indicates their relative position in the sort order.</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Public Shared Function Compare( strA As String, strB As String, IgnoreCase As Boolean ) As Integer. <br>
          Compares two specified string objects and returns an integer that indicates their relative position in the sort order. However, it ignores case if the Boolean parameter is true. </td>
      </tr>
      <tr>
          <td>3</td>
          <td>Public Shared Function Concat( str0 As String, str1 As String <br>
          Concatenates two string objects.</td>
      </tr>
      <tr>
          <td>4</td>
          <td>Public Shared Function Concat (str0 As String, str1 As String, str2 As String) As String <br>
          Concatenates three string objects.</td>
      </tr>
      <tr>
          <td>5</td>
          <td>Public Shared Function Concat (str0 As String, str1 As String, str2 As String, str3 As String) As String<br>
          Concatenates four string objects. </td>
      </tr>
      <tr>
          <td>6</td>
          <td>Public Function Contains ( value As String ) As Boolean<br>
          Returns a value indicating whether the specified string object occurs within this string.</td>
      </tr>
      <tr>
          <td>7</td>
          <td>Public Shared Function Copy ( str As String ) As String<br>
          Creates a new string objects with the same value as the specified string. </td>
      </tr>
      <tr>
          <td>8</td>
          <td>Public Sub CopyTo ( sourceIndex As Integer, destination As Char(), destinationIndex As Integer, count As Integer )<br>
          Copies a specified number of characters from a specified position of the string object to a specified position in an array of Unicode characters. </td>
      </tr>
      <tr>
          <td>9</td>
          <td>Public Function EndsWith ( value As String ) As Boolean<br>
          Determines whether the end of the string object matches the specified string.</td>
      </tr>
      <tr>
          <td>10</td>
          <td>Public Function Equals ( value As String ) As Boolean<br>
          Determines whether the current string object and the specified string object have the same value.</td>
      </tr>
      <tr>
          <td>11</td>
          <td>Public Shared Function Equals ( a As String, b As String ) As Boolean<br>
          Determines whether two specified string objects have the same value.</td>
      </tr>
      <tr>
          <td>12</td>
          <td>Public Shared Function Format ( format As String, arg0 As Object  ) As String<br>
          Replaces one or more format items in a specified string with the string representation of a specified object.</td>
      </tr>
      <tr>
          <td>13</td>
          <td>Public Funtion IndexOf ( value As Char ) As Integer<br>
          Returns the zero-based index of the first occurrence of the specified Unicode character  in the current string.</td>
      </tr>
      <tr>
          <td>14</td>
          <td>Public Function IndexOf ( value As String ) As Integer <br>
          Returns the zero-based index of the first occurrence of the specified string in this instance.</td>
      </tr>
      <tr>
          <td>15</td>
          <td>Public Function IndexOf (value As Char, startIndex As Integer) As Integer <br>
          Returns the zero-based index of the first occurrence of the specified Unicode character in this string, starting search at the specified character position,</td>
      </tr>
      <tr>
          <td>16</td>
          <td>Public Function IndexOf( value As String, startIndex As Integer) As Integer <br>
          Returns the zero-based index of the first occurrence of the specified string in this instance, starting search at the specified character position.</td>
      </tr>
      <tr>
          <td>17</td>
          <td>Public Function IndexOfAny ( anyOf As Char()) As Integer <br>
          Returns the zero-based index of the first occurrence in this instance of any character in a specified array of Unicode characters.</td>
      </tr>
      <tr>
          <td>18</td>
          <td>Public Function IndexOfAny ( anyOf As Char(), startIndex As Integer) As Integer</td>
      </tr>
      <tr>
          <td>19</td>
          <td>Public Function Insert ( startIndex As Integer, value As String ) As String <br>
          Returns a new string in which a specified string is inserted at a specified index position in the current string object.</td>
      </tr>
      <tr>
          <td>20</td>
          <td>Public Shared Function  IsNullOrEmpty ( value As Srrind ) As Boolean <br>
          Indicates whether the specified string is null or an Empty string.</td>
      </tr>
      <tr>
          <td>21</td>
          <td>Public Shared Function Join ( separator As String, ParamArray value As String() ) As String<br>
          Concatenates all the elements of a string array, using the specified separator between each element.</td>
      </tr>
      <tr>
          <td>22</td>
          <td>Public Shared Function  Join ( separator As String, value As String(), startIndex As Integer, count As Integer) As String <br>
          Concatenates the specified elements of a string array, using the specified separator between each element.</td>
      </tr>
      <tr>
          <td>23</td>
          <td>Public Function LastIndexOf ( value As Char ) As Integer <br>
          Returns the zero-based index position of the last occurrence of the specified Unicode character within the current string object.</td>
      </tr>
      <tr>
          <td>24</td>
          <td>Public Function LastIndexOf ( value As char ) As Integer <br>
          Returns the zero-based index position of the last occurrence of a specified string within the current string object.</td>
      </tr>
      <tr>
          <td>25</td>
          <td>Public Function Remove ( startIndex As Integer ) As Integer <br>
          Removes all the characters in the current instance, beginning at a specified position and continuing through the last position, and returns the string. </td>
      </tr>
      <tr>
          <td>26</td>
          <td>Public Function Remove ( staartIndex As Integer, count As Integer ) As String <br>
          Removes the specified number of characters in the current string beginning at a specified position and returns the string.</td>
      </tr>
      <tr>
          <td>27</td>
          <td>Public Function Replace ( oldChar As Char, newChar As Char ) As String <br>
          Replaces all occurrences of a specified Unicode character in the current string object with the specified  Unicode characterand returns the new string.</td>
      </tr>
      <tr>
          <td>28</td>
          <td>Public Function Replace ( oldValue As String, newValue As String) As String <br>
          Replaces all occurrences of a specified string in the current string object with the specified string and returns the new string</td>
      </tr>
      <tr>
          <td>29</td>
          <td>Public Function Splt ( ParamArray separator As Char()) As String() <br>
          Returns a string array that contains the substrings in the current string object, delimited by elements of a specified Unicode character array.</td>
      </tr>
      <tr>
          <td>30</td>
          <td>Public Function Split (separator As Char(), count As Integer) As String() <br>
          Returns a string array that contains the substrings in the current string object, delimited by elements of a specified Unicode character array. The int parameter specifies the maximum number of substring to return.</td>
      </tr>
      <tr>
          <td>31</td>
          <td>Public Function StartsWith ( value As String) As Boolean <br>
          Determines whether the beginning of this string instance matches the specified string.</td>
      </tr>
      <tr>
          <td>32</td>
          <td>Public Function ToCharArray As Char() <br>
          Returns a Unicode character array with all the characters in the current string object.</td>
      </tr>
      <tr>
          <td>33</td>
          <td>Public Function ToCharArray (startIndex As Integer, length As Integer ) As Char() <br>
          Returns a Unicode Character array with all the characters in the current string object, starting from the specified index and up to the specified length.</td>
      </tr>
      <tr>
          <td>34</td>
          <td>Public Function ToLower As String <br>
          Returns a copy of this string converted to lowercase.</td>
      </tr>
      <tr>
          <td>35</td>
          <td>Public Function ToUpper As String <br>
          Returns a copy of this string converted to uppercase.</td>
      </tr>
      <tr>
          <td>36</td>
          <td>Public Function Trim As String <br> 
          Removes all leading and trailing white-space characters from the current String objects.</td>
      </tr>
    </table>
    


      

      </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson6.3" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson6.5" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

