<style>

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
h1{
  color: #3e4444;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}
.navbar {
  padding: 15px 10px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.btn-default{
  border: none;
  background-color: transparent;
  border-radius: 0;
}
.btn-default:hover{
  background-color: transparent;
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
table{
border-collapse: collapse; 
width: 100%; 
text-align: center;
  
}
th {
  padding: 15px;
  padding: 8px;
  text-align: center;
  center;border-bottom: 
  1px solid #ddd;
}
td {
  padding: 15px;
  padding: 8px;
  text-align:left; 
  center;border-bottom: 
  1px solid #ddd;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
  color: #fff;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: linear-gradient(to right, #9966ff 0%, #9900cc 100%);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse1"] {
  position: relative;
}
a[data-toggle="collapse2"] {
  position: relative;
}
a[data-toggle="collapse3"] {
  position: relative;
}
a[data-toggle="collapse4"] {
  position: relative;
}
a[data-toggle="collapse5"] {
  position: relative;
}
a[data-toggle="collapse6"] {
  position: relative;
}
a[data-toggle="collapse7"] {
  position: relative;
}
a[data-toggle="collapse8"] {
  position: relative;
}
a[data-toggle="collapse9"] {
  position: relative;
}
a[data-toggle="collapse10"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content p a {
  color:white;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
</style>
    <script type="text/javascript">
    $(document).ready(function() {
    $("#sidebarCollapse").on("click", function() {
      $("#sidebar").toggleClass("active");
      $(this).toggleClass("active");
    });
  });
</script>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>VB.NET E-Learning</h3>
    </div>

    <ul class="list-unstyled components">
      <p></p>
        <li>
        <a href="#/Chapter1" class="dropdown-btn">Chapter 1
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson1.1" class="active">Lesson 1</a>
          <a href="#/Lesson1.2">Lesson 2</a>
          <a href="#/Lesson1.3">Lesson 3</a>
          <a href="#/Lesson1.4">Lesson 4</a>
          <a href="#/Lesson1.5">Lesson 5</a>
          <a href="#/Lesson1.6">Lesson 6</a>
          <a href="#/Lesson1.7">Lesson 7</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter2" class="dropdown-btn">Chapter 2
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson2.1">Lesson 1</a>
          <a href="#/Lesson2.2">Lesson 2</a>
          <a href="#/Lesson2.3">Lesson 3</a>
          <a href="#/Lesson2.4">Lesson 4</a>
          <a href="#/Lesson2.5">Lesson 5</a>
          <a href="#/Lesson2.6">Lesson 6</a>
          <a href="#/Lesson2.7">Lesson 7</a>
          <a href="#/Lesson2.8">Lesson 8</a>
          <a href="#/Lesson2.9">Lesson 9</a>
          <a href="#/Lesson2.10">Lesson 10</a>
          <a href="#/Lesson2.11">Lesson 11</a>
          <a href="#/Lesson2.12">Lesson 12</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter3" class="dropdown-btn">Chapter 3
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson3.1">Lesson 1</a>
          <a href="#/Lesson3.2">Lesson 2</a>
          <a href="#/Lesson3.3">Lesson 3</a>
          <a href="#/Lesson3.4">Lesson 4</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter4" class="dropdown-btn">Chapter 4
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson4.1">Lesson 1</a>
          <a href="#/Lesson4.2">Lesson 2</a>
          <a href="#/Lesson4.3">Lesson 3</a>
          <a href="#/Lesson4.4">Lesson 4</a>
          <a href="#/Lesson4.5">Lesson 5</a>
          <a href="#/Lesson4.6">Lesson 6</a>
        </div>
      </li>
      <li>
        <a href="#/Chapter5" class="dropdown-btn">Chapter 5
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson5.1">Lesson 1</a>
          <a href="#/Lesson5.2">Lesson 2</a>
          <a href="#/Lesson5.3">Lesson 3</a>
          <a href="#/Lesson5.4">Lesson 4</a>
        </div>
      </li>
       <li>
        <a href="#/Chapter6" class="dropdown-btn">Chapter 6
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson6.1">Lesson 1</a>
          <a href="#/Lesson6.2">Lesson 2</a>
          <a href="#/Lesson6.3">Lesson 3</a>
          <a href="#/Lesson6.4">Lesson 4</a>
          <a href="#/Lesson6.5">Lesson 5</a>
          <a href="#/Lesson6.6">Lesson 6</a>
          <a href="#/Lesson6.7">Lesson 7</a>
          <a href="#/Lesson6.8">Lesson 8</a>
          <a href="#/Lesson6.9">Lesson 9</a>
          <a href="#/Lesson6.10">Lesson 10</a>
          <a href="#/Lesson6.11">Lesson 11</a>
          <a href="#/Lesson6.12">Lesson 12</a>
        </div>
      </li>
            <li>
        <a href="#/Chapter7" class="dropdown-btn">Chapter 7
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson7.1">Lesson 1</a>
          <a href="#/Lesson7.2">Lesson 2</a>
          <a href="#/Lesson7.3">Lesson 3</a>
          <a href="#/Lesson7.4">Lesson 4</a>
          <a href="#/Lesson7.5">Lesson 5</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter8" class="dropdown-btn">Chapter 8
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson8.1">Lesson 1</a>
          <a href="#/Lesson8.2">Lesson 2</a>
          <a href="#/Lesson8.3">Lesson 3</a>
          <a href="#/Lesson8.4">Lesson 4</a>
          <a href="#/Lesson8.5">Lesson 5</a>
          <a href="#/Lesson8.6">Lesson 6</a>
          
        </div>
      </li>
       <li>
        <a href="#/Chapter9" class="dropdown-btn">Chapter 9
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson9.1">Lesson 1</a>
          <a href="#/Lesson9.2">Lesson 2</a>
          <a href="#/Lesson9.3">Lesson 3</a>
          <a href="#/Lesson9.4">Lesson 4</a>
          <a href="#/Lesson9.5">Lesson 5</a>
          <a href="#/Lesson9.6">Lesson 6</a>
          <a href="#/Lesson9.7">Lesson 7</a>
          <a href="#/Lesson9.8">Lesson 8</a>
          <a href="#/Lesson9.9">Lesson 9</a>
          <a href="#/Lesson9.10">Lesson 10</a>
          <a href="#/Lesson9.11">Lesson 11</a>
          <a href="#/Lesson9.12">Lesson 12</a>
          <a href="#/Lesson9.13">Lesson 13</a>
          <a href="#/Lesson9.14">Lesson 14</a>
          <a href="#/Lesson9.15">Lesson 15</a>
          <a href="#/Lesson9.16">Lesson 16</a>
          
        </div>
      </li>
        <li>
        <a href="#/Chapter10" class="dropdown-btn">Chapter 10
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fa fa-caret-down"></i></a>
        <div class="dropdown-container">
          <a href="#/Lesson10.1">Lesson 1</a>
          <a href="#/Lesson10.2">Lesson 2</a>
          <a href="#/Lesson10.3">Lesson 3</a>
          <a href="#/Lesson10.4">Lesson 4</a>
          <a href="#/Lesson10.5">Lesson 5</a>
          <a href="#/Lesson10.6">Lesson 6</a>
          <a href="#/Lesson10.7">Lesson 7</a>
          <a href="#/Lesson10.8">Lesson 8</a>
          <a href="#/Lesson10.9">Lesson 9</a>
          <a href="#/Lesson10.10">Lesson 10</a>
          <a href="#/Lesson10.11">Lesson 11</a>
 
          
        </div>
      </li>

      <li>
        <a href="#" align="center">Logout</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
        </div>

        <div class="dropdown pull-right">
               <a href="#">Admin Name</a>&nbsp;<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header"></li>
                      <li><a href="#/Home">Home</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#/Profile">Profile</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header"></li>
                      <li><a href="#">Logout</a></li>
                    </ul>       
        </div>
      </div>
    </nav>
<h1>Chapter 6</h1>
    <h1>Lesson 2 <br><br>&emsp;&emsp;Creating A String object</h1>
    <p class="lead"></p>
      <div class="panel-body">String is basically a data type, but it can also classified as a class to create an object. You can create string object using one of the following methods:<br><br>
      •&emsp;By assigning the string literal to a string variable<br>
      •&emsp;By using a String class constructor<br>
      •&emsp;By using the string concatenation operator +<br>
      •&emsp;By using a property or calling a method that returns a string<br>
      •&emsp;By calling a formatting method to convert a value or object to its string representation<br><br>
      The following table lists the function that Visual Basic provides to search and manipulate strings:<br><br>
      <table border="1">
      <tr>
          <th>.NET Framework Method</th>
          <th>Description</th>
      </tr>
      <tr>
          <td>Asc, AscW</td>
          <td>Returns an Integer  value representing the character code corresponding to a character.</td>
      </tr>
      <tr>
          <td>Chr, ChrW</td>
          <td>Returns the character associated with specified character code.</td>
      </tr>
      <tr>
          <td>Filter</td>
          <td>Returns a zero-based array containing a subset of a string array based on specified filter criteria. </td>
      </tr>
      <tr>
          <td>Format</td>
          <td>Returns a string formatted according to instructions contained in format string expression. </td>
      </tr>
      <tr>
          <td>FormatCurrency</td>
          <td>Returns a expression formatted as a currency value using the currency symbol defined in the system control panel.</td>
      </tr>
      <tr>
          <td>FormatDateTime</td>
          <td>Returns a string expression representing a date/time value.</td>
      </tr>
      <tr>
          <td>FormatNumber</td>
          <td>Returns an expression formatted as a number.</td>
      </tr>
      <tr>
          <td>FormatPercent</td>
          <td>Returns an expression formatted as a  percentage (that is, multiplied by 100) with a trailing % character.</td>
      </tr>
      <tr>
          <td>Instr</td>
          <td>Returns an integer specifying the start position of the first occurrence of one string within another.</td>
      </tr>
      <tr>
          <td>InStrRev</td>
          <td>Returns the position of the first occurrence of the one string within another.</td>
      </tr>
      <tr>
          <td>Join</td>
          <td>Returns a string created by joining a number of substrings contained in an array. </td>
      </tr>
      <tr>
          <td>LCase</td>
          <td>Returns a string  or  character converted to lowercase. </td>
      </tr>
      <tr>
          <td>Left</td>
          <td>Returns a string containing a specified number of characters from the left side of a string. </td>
      </tr>
      <tr>
          <td>Len</td>
          <td>Returns an integer that contains the number of characters in a string. </td>
      </tr>
      <tr>
          <td>LSet</td>
          <td>Returns a left-aligned string containing the specified string adjusted to the specified length.</td>
      </tr>
      <tr>
          <td>LTrim</td>
          <td>Returns a string containing a copy of a specified string with no leading spaces. </td>
      </tr>
      <tr>
          <td>Mid</td>
          <td>Returns a string containing a  specified number of characters from a string. </td>
      </tr>
      <tr>
          <td>Replace</td>
          <td>Returns a string in which a specified substring has been replaced with another substring a specified number of times. </td>
      </tr>
      <tr>
          <td>Right</td>
          <td>Returns a string containing a specified number of characters from the right side of string.</td>
      </tr>
      <tr>
          <td>RSet</td>
          <td>Returns a right-aligned string containing the specified string adjusted to the specified length. </td>
      </tr>
      <tr>
          <td>RTrim</td>
          <td>Returns a string containing a copy of a specified string with no trailing spaces.</td>
      </tr>
      <tr>
          <td>Space/td>
          <td>Returns a string consisting a  specified number of spaces.</td>
      </tr>
      <tr>
          <td>Split/td>
          <td>Returns a zero-based, one dimensional array containing a specified number of substrings.</td>
      </tr>
      <tr>
          <td>StrComp/td>
          <td>Returns -1, 0, or 1 based on the result of a string comparison.</td>
      </tr>
      <tr>
          <td>StrConv/td>
          <td>Returns a string converted as a specified.</td>
      </tr>
      <tr>
          <td>StrDup/td>
          <td>Returns a string or object consisting of the specified character repeated the specified number of times.</td>
      </tr>
      <tr>
          <td>StrReverse/td>
          <td>Returns a string in which the character order of a specified string in reversed.</td>
      </tr>
      <tr>
          <td>Trim/td>
          <td>Returns a string in which the character order of a specified string with no leading or trailing spaces. </td>
      </tr>
      <tr>
          <td>UCase/td>
          <td>Returns a string or character containing the specified string converted to uppercase.</td>
      </tr>
    </table><br><br>
    Sample Program:<br>
    &emsp;&emsp;&emsp;Module Module1<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;Sub Main()<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;Dim fname, lname, fullname,<br>
    &emsp;&emsp;&emsp;Greetings As String<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;Fname=”Luffy”<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;Lname=”Monkey”<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;Fullname= fname +” “+ lname<br>
    &emsp;&emsp;&emsp;Console.WriteLine(“Full Name: {0}”, fullname)<br><br>

    &emsp;&emsp;&emsp;Dim letters As Char() = {“H”, “e”, “l”, “l”, “o”}<br>
    &emsp;&emsp;&emsp;Greetings  = New String(letters)<br>
    &emsp;&emsp;&emsp;Console.WriteLine(“Greetings: {0}”, greetings)<br>
    &emsp;&emsp;&emsp;Dim sarray() As String= <br>
    &emsp;&emsp;&emsp;{“Welcome”, “to”, “VB”, “Net”}<br><br>

    &emsp;&emsp;&emsp;Dim message As String = <br>
    &emsp;&emsp;&emsp;String.Join(“ “, sarray)<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;Console.Readline()<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;End Sub<br>
    &emsp;&emsp;&emsp;End Module<br><br>
  Sample output:<br>
  &emsp;&emsp;Full Name: Luffy Monkey<br>
  &emsp;&emsp;Greetings: Hello<br>
  &emsp;&emsp;Message: Welcome To VB .Net<br>



    </div>

    <div class="line"></div>  
    <div class="pull-right">      
      <a href="#/Lesson6.1" class="btn btn-primary">
            Previous
        </a>
      <a href="#/Lesson6.3" class="btn btn-primary">
            Next
        </a>
    </div>
  </div>
</div>

